<div class="section" id="about">
    <div class="container">
      <div class="card" data-aos="fade-up" data-aos-offset="10">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">About</div>
                <p>Hi I'm an <strong>Software Engineering Intern</strong> adept in bringing forth expertise in design, coding, testing and maintenance of software systems. 
                  <br>Equipped with a diverse and promising skill set. Proficient in various platforms, languages, and embedded systems. 
                  <br>Experienced with the latest cutting edge development tools and procedured. 
                  <br>Able to effectively self-manage during independent projects, as well as collaborate as part of a productive team.
                  <br>Lover of innovation and everything related to generate new knowledge. Face problems with a smile and solve them as soon as possible. Very calculated about the time I spend and work I do.
                </p> 
                
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">Basic Information</div>
              <div class="row">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Date of Birth:</strong>
                </div>
                <div class="col-sm-8">August 03, 2000</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Email:</strong>
                </div>
                <div class="col-sm-8">jainaakash1002@gmail.com</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Phone:</strong>
                </div>
                <div class="col-sm-8">+91 8627081256</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Address:</strong>
                </div>
                <div class="col-sm-8">3/7740, Sukhupura,Saharanpur ,UP
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Language:</strong>
                </div>
                <div class="col-sm-8">Hindi, English</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>